[Unit]
Description=Tamper detection daemon

[Service]
Type=idle
User=root
ExecStart=/usr/local/bin/tamper

#Monitoring agents can better detect the failed states, when they typically poll every minute.
RestartSec=60s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
